.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgba(0,0,0,0);
    border: 0;
    position: absolute;
    top: 50px;
    right: 40px;
}